* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  color: black;
}
.mandala {
  display: block;
  margin-right: 0.5;
}

main {
  background-color: rgb(150, 146, 146);
  padding-bottom: 2rem;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
  align-items: auto;
  color: black;
}

h1 {
  color: black;
  font-style: oblique;
  font-weight: 400;
}

.cont-card {
  display: flex;
  width: 200px;
  height: 350px;
  perspective: 600px;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  margin-top: 1rem;
  background-color: rgb(196, 187, 187);
  margin-bottom: 2rem;
}
.lefttext {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 150px;
  margin-left: 0rem;
  margin-right: 0.5rem;
}

.button {
  background-color: black;
  color: white;
  border-radius: 3px;
  padding: 0.5rem;
  margin-top: 1rem;
  border: solid grey;
  font-size: larger;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
}

button:hover {
  background-color: rgb(87, 164, 176);
  color: black;
}

.cont-card:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg) rotateZ(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
  text-align: center;
}

.front {
  background-image: url(../Img/mandalas-gb71526fd3_1920.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.back {
  background-color: #3a3a3a;
  transform: rotateY(180deg) rotateZ(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  text-align: center;
  padding: 3px;
  text-align: center;
}
.back-text {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.margin {
  margin-top: 2rem;
}

.footer {
  padding: 1rem;
  display: flex;
  flex-direction: row-reverse;
  background-color: black;

  margin-left: 7rem;
  margin-right: 7rem;
  padding: 2rem;
  color: white;
  gap: 3rem;
}

.caja {
  margin-top: 1rem;
  margin-left: 8rem;
  margin-right: 8rem;
  background-color: rgb(237, 229, 229);
}

@media (min-width: 576px) {
  main {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
  }
  .lefttext {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: 3rem;
    margin-right: 8rem;
  }
  .cont-card {
    width: 300px;
    height: 450px;
  }
}
